<div class="stack-cart-box">
    <div class="stack-header-outer">
        <button class="bg-transparent border-0 px-2" (click)="closeSlider()">
            <img src="assets\svg\arrow.svg" alt="" height="30" width="30" role="button" >
        </button>
        <p >Cart</p>
        <button class="clear-btn">Clear</button>
    </div>
    <div class="stack-item-outer">
        <div class="stack-items">
<div class="stack-item mb-2" *ngFor="let cartItem of cartItems">
    <app-stackcartitem [cartItem]="cartItem" (totalAmount)="loadTotalAmount($event)"></app-stackcartitem>
</div>

        </div>
    </div>
    <div class="stack-price-outer">
        <div class="stack-price">
            <p>Total : {{cartTotal}} </p>
        </div>
    </div> 
    <div class="stack-button-outer">
        <div class="stack-button">
            <button>Check Out</button>
        </div>
    </div>   
    
</div>
