<div class="box">
    <div class="cartimg">
        <img src="assets\images\3.jpg" alt=""  width="50px" height="50px">
    </div>
    <div>
        <div class="text-white medium">{{cartItem.productName}} </div>
        <div class="text-white small">LKR {{cartItem.productPrice}} </div>
    </div>

    <div class="unit">
        <button class="cartno bg-transparent border-0 text-white" (click)="toggleQty(false)">
            -
        </button>
        <span class="cartno text-white mx-2">
          {{cartItem.boughtQty}}
        </span>
        <button class="cartno bg-transparent border-0 text-white" (click)="toggleQty(true)">
            +
        </button>
    </div>
</div>
