<div>
	<table>
		<thead>
			<tr>
				<th>Order ID</th>
				<th>Name</th>
				<th>Contact No</th> 
				<th>Address</th>
                <th>Product</th>
                <th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Product 1</td>
				<td>$10.00</td>
				<td>2</td>
				<td>$20.00</td>
			</tr>
			<tr>
				<td>Product 2</td>
				<td>$15.00</td>
				<td>3</td>
				<td>$45.00</td>
			</tr>
			<tr>
				<td>Product 3</td>
				<td>$20.00</td>
				<td>1</td>
				<td>$20.00</td>
			</tr>
		</tbody>
	</table>
</div>
