<!-- <div>
    <div class="container-fluid p-5 banner-head text-white  text-center landing-header-banner">
      <h1 class="display-4 text-sm-center">It's not just a Food, It's an Experience</h1>
      <p class="lead text-sm-center">Order your favorite food and enjoy it in the comfort of your own home</p>
      <button type="button" class="btn btn-back text-white"routerLink="/menu">CHECKOUT MENU</button>
    </div>

    <div class="container-fluid px-0">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets\images\OLIVIA (3).png" class="w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\images\chicken-strips.png" class="w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\images\0817-murray-mancini-dried-tomato-pie.jpg.webp" class="w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets\images\FNC_OGImage_Taiwanese-Beef-Noodle-Soup.webp" class="w-100 img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div> -->

  <section class="hero text-center" aria-label="home" id="home">

    <ul class="hero-slider" data-hero-slider>

      <li class="slider-item active" data-hero-slider-item>

        <div class="slider-bg">
          <img src="assets\images\hero-slider-1.jpg" width="1880" height="950" alt="" class="img-cover">
        </div>

        <p class="label-2 section-subtitle section-subtitle-color slider-reveal ">Olivia Foods Restaurant</p>

        <h1 class="display-1 hero-title  slider-reveal text-white fw-normal">
          For the love of <br>
          delicious food
        </h1>

        <p class="body-2 hero-text slider-reveal text-white fw-light">
          Come with family & feel the joy of mouthwatering food
        </p>

      

      

    </ul>

  </section>
