<div>
	<table>
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Product Price</th>
                <th>Product </th>
                <th>status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Burger</td>
				<td>800 </td>
				<td></td>
                <td>active</td>
			</tr>
			<tr>
                <td>2</td>
				<td>Pazta</td>
				<td>1850 </td>
				<td></td>
                <td>nonactive</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Biriyani</td>
				<td>2800 </td>
				<td></td>
                <td>active</td>
			</tr>
		</tbody>
	</table>
</div>
