<div class="serve container-fluid">
    <div class="row serve-header mx-0">
        <h2 class="mainText fw-bold mx-0"> Enjoy Your Meal</h2>
    </div>
    <div class="row bags mx-0">
        
        <div class="column alls ">
            <div class="row card-img mx-0">
                <img  src="assets\svg\order.svg" alt="" width="120" height="120">
            </div>
            <div class="row card-text mx-0">
                <p >Easy To Order</p>
            </div>
        </div>
        
        <div class="column alls ">
            <div class="row card-img mx-0">
                <img src="assets\svg\delivery.svg" alt="" width="100" height="100">
            </div>
            <div class="row card-text mx-0">
                <p >Fastest Delivery</p>
            </div>
        </div>
        
        <div class="column alls ">
            <div class="row card-img mx-0">
                <img src="assets\svg\enjoy.svg" alt="" width="90" height="90">
            </div>
            <div class="row card-text mx-0">
                <p >Best Quality</p>
            </div>
        </div>
    </div>
</div> 

