<div class="cardbox " >
    <div class="cardimage-outer">
        <div class="cardimg ">
        </div>
    </div>  
    <div class="card-details-outer">
        <div class="card-details">
            <p>{{product.productPrice}} LKR </p>
        </div>
    </div> 
    <div class="card-details-outer">
        <div class="card-details">
            <p>{{product.productName}}</p>
        </div>
    </div> 
    <div class="add-card-outer">
        <button class="cart-button" (click)="onCheckout()">Add cart</button>
    </div> 
</div>
