<div class="form-outer">
    <div class="form">
        <form [formGroup]="addProductForm!" (submit)="addProduct()" >
            <h6>Add New Product</h6>
            <div class="textfi" for="productname">Product name</div>
            <input type="text" class="box"  id="productname" formControlName="productName">
            <div class="textfi" for="productprice">Product price</div>
            <input type="number" class="box"  id="productprice" formControlName="productPrice">
            <div class="textfi" for="productimage">Product image</div>
            <input type="text" class="box"   id="productimage" formControlName="productImageURL">
            <div class="textfi" for="productdetails">Product Description</div>
            <input type="text" class="box"  id="productdetails" formControlName="productDetails">
            <button class="btn" type="submit" >Submit</button>
        </form>
    </div>
</div>
